"*":
  editor:
    showIndentGuide: true
    preferredLineLength: 130
    softWrapAtPreferredLineLength: true
    invisibles: {}
    fontSize: 17
  core:
    disabledPackages: [
      "welcome"
      "terminal-panel"
      "build"
      "jsformat"
    ]
    themes: [
      "one-dark-ui"
      "fizzy"
    ]
    projectHome: "~/git"
  "exception-reporting":
    userId: "65a5e0e4-e096-37b9-e66e-92776a343952"
  "release-notes":
    viewedVersion: "0.94.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "3f77c6ab1e6bd7085f5ec5d41a3b641c2dd06565"
  "git-diff":
    showIconsInEditorGutter: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "grunt-runner":
    gruntPaths: [
      "\"/usr/local/bin/grunt\""
    ]
  jsformat:
    jslint_happy: true
    keep_function_indentation: true
  linter: {}
  build: {}
  "autocomplete-plus": {}
  "file-icons":
    onChanges: true
    forceShow: true
  minimap: {}
".git-rebase.text":
  editor:
    preferredLineLength: 130
".git-config.source":
  editor:
    preferredLineLength: 130
".git-commit.text":
  editor:
    preferredLineLength: 130
".ini.source":
  editor:
    preferredLineLength: 140
".jade.source":
  editor:
    preferredLineLength: 140
".pyjade.source":
  editor:
    preferredLineLength: 140
".source.stylus":
  editor:
    preferredLineLength: 140
".cs.source":
  editor:
    preferredLineLength: 140
".csx.source":
  editor:
    preferredLineLength: 140
".nant-build.source":
  editor:
    preferredLineLength: 140
